body {
    margin: 0;
    padding: 0;
}
main {
    background: white;
}
.fig {
    text-align: center;
}
.text  {
    font-family: 'Open Sans';
font-size: 18px;
line-height: 25px;
color: #828282;
padding-left: 40px;
margin-top: 29px;
}
.home {
font-family: 'Open Sans';
font-size: 18px;
line-height: 25px;
color: #070707;
margin-top: 29px;
}
hr {
width: 940.6px;
height: 0px;
left: 252px;
margin-top: 29px;
border: 1px solid #828282;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.Denis {
    font-family: 'Open Sans';
    margin-left: 249px;
    font-size: 47.3392px;
    line-height: 64px;
    color: #070707;
    margin-top: 34px;
}
.img{
    width: 943.61px;
    height: 387px;
    margin-left: 251.69px;
    margin-top: 39px;
}
.background {
background: #F6F6F6;
width: 1445px;
height: 517px;
left: 0px;
margin-top: 100px;
}
.caption {
left: 617px;
font-family: 'Open Sans';
padding-top: 100px;
font-weight: 700;
font-size: 34px;
line-height: 46px;
text-align: center; 
color: #070707;
}
.info{
font-family: 'Open Sans';
font-size: 18px;
line-height: 25px;
text-align: center;
color: #070707;
}
.apps{
padding-left: 168px;
padding-top: 78px;
}
.apps_1{
    margin-left: 292px;
    padding-top: 78px;
}
.names {
display:flex;

text-align: center;
}
.icon_1 {
    font-family: 'Roboto Condensed';
font-size: 14px;
line-height: 17px;
color: #828282;
    margin-left: 307px;
}
.icon{
    font-family: 'Roboto Condensed';
font-size: 14px;
line-height: 17px;
color: #828282;
    padding-left: 205px;
}
.icon_4{
    font-family: 'Roboto Condensed';
font-size: 14px;
line-height: 17px;
color: #828282;
    padding-left: 183px;
}
.stars {
    display: flex;
    width: 26px;
    height: 26px;
    
}
.stars_1 {
    padding-left: 115px;
    display: flex;
}
.stars_2 {
    padding-left: 270px;
    display: flex;
}
.space {
    padding-left: 9px;
}

.background_2 {
width: 1445px;
height: 2239px;
left: 0px;
top: 1796px;
background: #F6F6F6;
}
.link {
font-family: 'Open Sans';
font-style: normal;
font-size: 18px;
line-height: 25px;
text-align: center;
text-decoration-line: underline;
color: #070707;
margin-left: 640px;
display: flex;
padding-bottom: 130px;



}
.photo {
width: 936.24px;
height: 510px;
margin-left: 254px;
}
.media {
    display: flex;
    width: 40.17px;
    height: 39.61px;
    left: 552px;
    top: 4400px;
    padding-left: 60px;
}
.media_1 {
    display: flex;
    width: 40.17px;
    height: 39.61px;
    left: 552px;
    top: 4400px;
    margin-left: 500px;
}
.button-wraper{
font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  border-radius:200px ;
  background: #070707;
  color: #F6F6F6;
  margin-left: 630px;
}
.but {
    padding-top: 78px;
    padding-bottom: 32px;
}
.like {
    font-size: 14px;
line-height: 19px;
text-align: center;
color: #828282;
padding-top: 44px;
margin-bottom: 159px;

}

