.menu{
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.name{
  font-size: 32px;
  line-height: 32px;
  color: #FFFFFF;
}
.date{
  color: #FFFFFF;
  line-height: 22px;
}
.info{
  color: #B7BACD;
  line-height:22px ;
}
.sale{
  color: #FFDD3F;
  line-height: 22px;
  font-size: 12px;
}
.price{
  font-size: 32px;
  color: #FFFFFF;
  
}