.logo{
display:inline-flex;
margin-left: 160px;
}
.logo_pic{
max-width: 26px;
max-height: 26px;
margin:auto;
left: 1px;
top: 4px;
}
.logo>p{
margin-left: 14px;
}
hr{
width:1155px;
margin-left: 158px;
top: 118px;
}
.content{
max-width: 1158px;
max-height: 472px;
margin-left: 156px;
margin-top: 55px;
}
.services{
display: flex;
justify-content: space-between;
}
.card{
width: 360px;
height: 347px;

}
footer{
margin-top: 69px;
}
.card>p{
padding-left: 41px;
padding-top: -30px;

}
.card>a{
padding-left: 41px;
padding-top: 29px;
}
.media_{
width: 225px;
display: flex;
justify-content: space-between;
margin-left: 11%;
}
.icon>svg{
max-width:64px ;
max-height: 64px;
}
.icon{
padding-left: 41px;
padding-top: 41px;
padding-bottom: 28px ;
}
.network{
  width: 38px;
  height: 38px;
}
