.navigation{
  z-index: 1000;
  background-color: white;
}
.navigation__link {
  color: #383430;
  list-style: none;
}
.link {
  text-decoration: none;
  color: #383430;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.lan{
  text-decoration-line: none;
  display: flex;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  -webkit-text-fill-color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  margin-right: 15px;
}
p{
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 36px;
}
h4{
  font-family: 'PT Sans';
  font-size: 36px;
  font-weight: 700;
}
.sidebar{
  background-color:white;
  color:black;
  padding-left:0;
  float: left;
  text-decoration: none;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: black;
  display: block;
} 
